@charset "UTF-8";

/* ========================================
    フッターの設定
   ======================================== */

footer .container {
  max-width: 1920px;
}
footer img {
  width: 125px;
}

footer p {
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}
